variables:
  MajorVersion: 3
  MinorVersion: 1
  PatchVersion: 0
  
  BuildConfiguration: 'Release'

name: $(MajorVersion).$(MinorVersion).$(PatchVersion)$(Rev:.r)

trigger:
- master

jobs:
- job: Build

  strategy:
    matrix:
      2026:
        BuildPlatform: '2026'
        DevEnvDir: 'C:\Program Files\Microsoft Visual Studio\18\Professional\Common7\IDE\'
      2022:
        BuildPlatform: '2022'
        DevEnvDir: 'C:\Program Files\Microsoft Visual Studio\2022\Professional\Common7\IDE\'
    maxParallel: 2

  pool: ConquerorX Pipelines

  steps:
  
  - task: Assembly-Info-NetFramework@2
    displayName: 'Set Assembly Manifest Data'
    inputs:
      FileNames: '**\AssemblyInfo.cs'
      VersionNumber: '$(build.buildnumber)'
      FileVersionNumber: '$(build.buildnumber)'
  
  - task: geeklearningio.gl-vsts-tasks-file-patch.xml-patch-task.XmlPatch@4
    displayName: 'Update VSIX version'
    inputs:
      XmlWorkingDir: GitFlowAVH
      XmlTargetFilters: '$(BuildPlatform)\source.extension.vsixmanifest'
      Namespaces: 'vsix => http://schemas.microsoft.com/developer/vsx-schema/2011'
      JsonPatchContent: '= /vsix:PackageManifest/vsix:Metadata/vsix:Identity/@Version=> "$(build.buildNumber)"'
      OutputPatchFile: true
      FailIfNoPatchApplied: true
  
  - task: VSBuild@1
    displayName: 'Build solution GitFlowAVH.sln'
    inputs:
      solution: GitFlowAVH.$(BuildPlatform).sln
      platform: '$(BuildPlatform)'
      configuration: '$(BuildConfiguration)'
      msbuildArgs: '-restore'
  
  - task: CmdLine@1
    displayName: 'type files.json'
    inputs:
      filename: type
      arguments: GitFlowAVH\obj\$(BuildPlatform)\Release\files.json
  
  - task: VSTest@2
    displayName: 'VsTest - testAssemblies'
    inputs:
      testAssemblyVer2: |
       **\$(BuildConfiguration)\*test*.dll
       !**\obj\**
      platform: '$(BuildPlatform)'
      configuration: '$(BuildConfiguration)'
      testFiltercriteria: FullyQualifiedName~GitFlowWrapperTests
    enabled: false
  
  - task: CopyFiles@2
    displayName: 'Copy marketplace files'
    inputs:
      SourceFolder: '$(system.defaultworkingdirectory)'
      Contents: |
       **\bin\$(BuildPlatform)\$(BuildConfiguration)\*.vsix
       README.md
       extension.manifest.json
      TargetFolder: '$(build.artifactstagingdirectory)'
      flattenFolders: true
  
  - task: CopyFiles@2
    displayName: 'Copy images'
    inputs:
      SourceFolder: '$(system.defaultworkingdirectory)'
      Contents: |
       Images\*.*
      TargetFolder: '$(build.artifactstagingdirectory)'
  
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact'
    inputs:
      PathtoPublish: '$(build.artifactstagingdirectory)'
      ArtifactName: GitFlowAVH.VSIX.$(BuildPlatform)